// 颜色定义规范
$bgColor = #222
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$colorTheme = #ffcd32
$colorThemeD = rgba(255, 205, 49, 0.5)
$colorSubTheme = #d93f30
$colorText = #fff
$colorTextD = rgba(255, 255, 255, 0.3)
$colorTextOne = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
